<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Notes App | My Notes</title>
</head>

<body>
    <header>
        <h1>My Notes <span class="count"><%= notes.length %></span></h1>
        <%- include('./partials/nav') %>
    </header>
    <div class="container">
        <div>
            <ol class="todos">
                <% if(notes.length){ %>
                    <% notes.forEach(note=> { %>
                        <li>
                            <div class="note">
                                <h2>
                                    <%= note.title %>
                                </h2>
                                <p>
                                    <%=note.content.trim().slice(0,150)%> ...</p>
                                <a href="/note/<%=note.id %>" class="more">View More</a>
                            </div>
                        </li>
                        <% })}  else {%>
                            <p>You have 0 notes</p>
                            <%}%>
            </ol>
        </div>
    </div>
</body>

</html>