<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note
        <%=note.id %>
    </title>
</head>

<body>
    <header>
        <%- include('./partials/nav') %>
            <h1>
                <%= note.title %>
            </h1>
    </header>
    <div class="container">
        <div>
            <ol>
                <li>
                    <%=note.content %>
                </li>
            </ol>
            <form action="/note/delete/<%=note.id %>" method="post">
                <button type="submit">Delete Note</button>
            </form>
        </div>
    </div>
</body>

</html>